@import url('https://fonts.googleapis.com/css2?family=Abel&family=Big+Shoulders+Text&family=Bungee+Inline&family=Bungee+Shade&family=Caveat&family=Faster+One&family=JetBrains+Mono&family=Just+Another+Hand&family=Karla&family=Lato&family=Playfair+Display&family=Qwitcher+Grypen&family=Rampart+One&family=Roboto&family=Sora:wght@400;500&family=Squada+One&family=Square+Peg&family=Staatliches&display=swap');

html, body {
  overflow-x: hidden;
}

.logo h1 {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.btn {
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.signature {
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
}

.card {
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-width: 85%;
    margin: 0 auto;
}

.img {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

p {
    font-family: 'Karla', sans-serif;
}

.navbar {
    letter-spacing: 0.15rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.navbar-menu {
}

main {
    flex: 1;
}

.max-800px {
    max-width: 800px;
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.title-image {
    padding-bottom: 2em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.hero {
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}