<footer class="footer">
    <div class="container  has-text-centered">
        <div class="columns has-text-centered">
            {{ range .Site.Menus.footer }}
            <div class="column is-narrow">
                <a style="font-family: 'Space Mono', monospace;" class="button is-link" href="{{ .URL }}">{{ .Name }}</a>
            </div>
            {{ end }} 
        </div>
        <div class="column is-narrow">
            <img style="width: 200px;" src="https://raw.githubusercontent.com/chaitanya4vedi/chaitanyarocks/master/static/Chaitanya%20Chaturvedi.png" alt="">
        </div>
        <div class="column is-narrow">
        <p style="font-family: 'Space Mono', monospace;">&copy;2023 Chaitanya Chaturvedi</p>
    </div>
    <div class="column is-narrow">
        <p style="font-family: 'Space Mono', monospace;">Proudly created by <a href="https://chaitanya4vedi.github.io">&nbsp;Chaitanya Chaturvedi</a></p>
     </div>  
    </div>
</footer>